<%- include('../_layouts/adminheader') %>
<header>
    <h2 class="page-title">Edit a page</h2>
</header>

<a href="/admin/pages" class="btn btn-primary">Back to all pages</a>
<br><br>

<form method="POST" action="/admin/pages/update-page/<%= id %>?_method=PUT">
    
    <section class="form-group">
        <label for="">Title</label>
        <input type="text" class="form-control" name="title" value="<%= title %>" placeholder="Title">
    </section>
    
    <section class="form-group">
        <label for="">Slug</label>
        <input type="text" class="form-control" name="slug" value="<%= slug %>" placeholder="Slug">
    </section>
    
    <section class="form-group">
        <label for="">Content</label>
        <textarea name="content" class="form-control" id="ta" cols="30" rows="10" placeholder="Content"><%= content %></textarea>
    </section>
    
    <button class="btn btn-default">Submit</button>
</form>

<%- include('../_layouts/adminfooter') %>