<%- include('../_layouts/adminheader') %>
<header>
    <h2 class="page-title">Products</h2>
</header>

<a href="/admin/products/add-product" class="btn btn-primary">Add a new product</a>
<br><br>

<% if (count > 0) { %>

<table class="table table-striped alignmiddle">

    <thead>
        <tr class="home">
            <th>Product</th>
            <th>Price</th>
            <th>Category</th>
            <th>Product Image</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <% products.forEach(function(product){ %>
        <tr>
            <td><%= product.title %></td>
            <td>Rs.<%= parseFloat(product.price).toFixed(2) %></td>
            <td><%= product.category %></td>
            <td>
                <% if (product.image == "") { %>
                <img id="noimage" src="/images/noimage.png">
                <% } else {%>
                <img id="noimage" src="/product_images/<%= product._id %>/<%= product.image %>" onclick="openFullscreen()">
                <% }%>
            </td>
            <td><a href="/admin/products/edit-product/<%= product._id %>">Edit</a></td>
            <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>">Delete</a></td>
        </tr>
        <% }); %>
    </tbody>
</table>

<% } else {%>
<h3 class="text-center">There are no products.</h3>
<% }%>


<script>
    /* Get the element you want displayed in fullscreen mode (a video in this example): */
    var elem = document.getElementById("noimage");
    
    /* When the openFullscreen() function is executed, open the video in fullscreen.
    Note that we must include prefixes for different browsers, as they don't support the requestFullscreen method yet */
    function openFullscreen() {
      if (elem.requestFullscreen) {
        elem.requestFullscreen();
      } else if (elem.webkitRequestFullscreen) { /* Safari */
        elem.webkitRequestFullscreen();
      } else if (elem.msRequestFullscreen) { /* IE11 */
        elem.msRequestFullscreen();
      }
    }
    </script>

<%- include('../_layouts/adminfooter') %>